<%= render 'shared/page_title', title: 'edit recipe' %>

<% if @recipe.errors.any? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= pluralize(@recipe.errors.count, "error") %>
          prohibited this <%= @recipe.class %> from being saved:
        </h2>
        <div class="panel-body">
          <ul>
            <% @recipe.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</div>

<% end %>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe" %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input-checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-purple" %>
          <%= link_to "Create a new recipe", new_recipe_path, class: "btn btn-purple" %>
          <%= link_to "Return to recipes listing", recipes_path, class: "btn btn-purple" %>
          <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-purple" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
