<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h4 class="description">
      <strong>
        Steps:
      </strong>
    </h4>
    <hr />
    <%= simple_format(@recipe.description) %>
    <hr />
    <div class="pull-right">
      <small>
        <%= link_to gravatar_for(@recipe.chef), recipes_path %>
        <div class="separator">
          Created by: <%= @recipe.chef.chefname.capitalize %>
        </div>
        Created <%= time_ago_in_words(@recipe.created_at) %> ago
      </small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <%= link_to "Create a new recipe", new_recipe_path, class: "btn btn-purple" %>
    <%= link_to "Return to recipes listing", recipes_path, class: "btn btn-purple" %>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-purple" %>
    <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                                            data: { confirm: "Are you sure?" },
                                                            class: "btn btn-purple" %>
  </div>
</div>
