<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="well col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <h4 class="description">
      <strong>
        Steps:
      </strong>
    </h4>
    <hr />
    <%= simple_format(@recipe.description) %>
    <hr />
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %>
    <% end %>
    <div class="row">
      <div class="liking col-md-8 col-md-offset-2">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
        <% end %> <%= @recipe.thumbs_up_total %> ||
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %> <%= @recipe.thumbs_down_total %>
      </div>
    </div>
    <div class="pull-right">
      <small>
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
        <div class="separator">
          Created by: <%= @recipe.chef.chefname.capitalize %>
        </div>
        Created <%= time_ago_in_words(@recipe.created_at) %> ago
      </small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2">
    <%= link_to "Return to recipes listing", recipes_path, class: "btn btn-purple" %>
    <% if logged_in? %>
      <%= link_to "Create a new recipe", new_recipe_path, class: "btn btn-purple" %>
    <% end %>
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-purple" %>
      <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                                              data: { confirm: "Are you sure?" },
                                                              class: "btn btn-purple" %>
    <% end %>
  </div>
</div>

<hr />

<% if logged_in? %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for([@recipe, @comment], remote: true, :html => { class: "form-horizontal", role: "form" }) do |f| %>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-1">
            <%= f.text_field :description, class: "form-control", placeholder: "Write a comment", autofocus: true %>
          </div>
          <div class="col-md-2">
            <%= f.submit "Post", class: "btn btn-purple" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h3 class="center"><%= link_to "Log in to comment", login_path %></h3>
<% end %>

<hr />

<% if @recipe.comments.any? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>
        Prior comments:
      </h3>
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <h3 class="center">No comments yet</h3>
<% end %>
